# Google Form / Typeform Embed URL for Clergy & Pastor Feedback Modal
# Example for Google Forms:
# VITE_FEEDBACK_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSc.../viewform?embedded=true
VITE_FEEDBACK_FORM_URL=
