# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Environment files
.env
.env.*
!.env.example
.env.keys
.env.keys.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & cache directories
.eslintcache
.stylelintcache
*.tsbuildinfo
.temp/
.cache/
